/* * * * * PC * * * *  * */
@media screen and (min-width: 992px) {
    /* ===== HEADER ===== */
    .header__toggle-menu {
        display: none;
    }
    .header__mobile {
        display: none;
    }
    .show-on-tablet {
        display: none;
    }
    .blog__dots{
        display: none;
    }
}
/* * * * * Table & Mobile * * * * * */
@media screen and (max-width: 991px) {
    /* ===== HEADER ===== */
    .header__inner .row {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .navbar,
    .header__actions {
        display: none;
    }
    .icon-close,
    .icon-menu {
        font-size: 2.4rem;
        color: var(--light-gray-2);
    }
    .header__mobile-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
        z-index: 1;
    }
    .header__mobile-drawer {
        position: fixed;
        padding: 32px;
        inset: 0 0 0 40%;
        background-color: var(--white);
        transform: translateX(100%);
        transition: 0.5s ease;
        z-index: 999;
    }
    .header__mobile-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 17px;
        border-bottom: 1px solid #eaeaea;
    }
    .header__mobile-checkbox:checked ~ .header__mobile-overlay {
        opacity: 1;
        visibility: visible;
    }
    .header__mobile-checkbox:checked ~ .header__mobile-drawer {
        transform: translateX(0);
    }
    .navbar__mobile {
        display: block;
        margin: 0;
    }
    .navbar__mobile-list {
        display: block;
    }
    .navbar__mobile-link {
        display: block;
        padding: 16px 0;
    }
}
/* * * * * Table * * * * * */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* ======== WORK =========== */
    .work .media-wrapper {
        margin-top: 160px;
    }
    .work .hero__badge {
        right: 0;
    }
    /* ======== FEATURE ========== */
    .feature .media-wrapper-tablet {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .feature .feature__income {
        right: 33px;
    }
    .feature .feature__pay {
        right: 25px;
    }
    /* ====== BLOG ======= */
    .blog .btn {
        margin-top: 16px;
    }
    .blog__dots {
        display: none;
    }
    /* ====== DOWNLOAD ===== */
    .download__star--1 {
        left: 60px;
    }
    .download__star--2 {
        right: 60px;
    }
    .download__star--3 {
        right: 30px;
    }
    .download__star--4 {
        left: 30px;
    }
    .download__app {
        padding: 18px 12px;
    }
    /* ====== FOOTER ====== */
    [class*="col-"]:last-child .footer__column {
        margin-top: 30px;
    }
}
/* * * * * Mobile * * * *  * */
@media screen and (max-width: 767px) {
    .container {
        --spacer: 30px;
        padding-left: calc(var(--spacer) / 2);
        padding-right: calc(var(--spacer) / 2);
    }
    /* ===== HEADER ===== */
    .header__mobile-drawer {
        padding: 20px;
        inset: 0;
    }
    .icon-close {
        cursor: pointer;
        font-size: 2rem;
    }
    .navbar__mobile-link {
        padding: 12px 0;
    }
    .media-wrapper {
        display: flex;
        justify-content: center;
    }
    .hero__payment,
    .hero__transfer,
    .hero-list-deal {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero__deposit,
    .hero__security,
    .hero__interest {
        display: none;
    }
    .hero .media-wrapper {
        margin-top: 40px;
    }
    /*============== Work ======== */
    .hero__badge {
        padding: 15px;
        right: 0;
    }
    /* ========== Featured =======  */
    .feature__media::before {
        border-radius: 6px;
    }
    .feature__badge,
    .feature__income,
    .feature__dola {
        display: none;
    }

    .work .media-wrapper,
    .feature .media-wrapper {
        margin-top: 130px;
    }

    /* ====== BLOG ====== */
    .blog .btn {
        margin-top: 16px;
    }
    .blog .blog__item {
        flex-direction: column;
        row-gap: 16px;
        transition: transform 1s;
    }
    .blog__img img {
        width: 100%;
        height: 100%;
    }
    .blog__list-mobile {
        overflow: hidden;
        flex-wrap: nowrap;
    }
    .blog__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;
    }
    .blog__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #08041533;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .blog__dot--active {
        width: 12px;
        height: 12px;
        outline: 1px solid var(--primary-purple);
        outline-offset: 4px;
        background-color: var(--primary-purple);
        cursor: default;
    }
    /* ======= DOWNLOAD =======  */
    .download__inner {
        padding: 50px 20px;
    }
    .download__star {
        display: none;
    }
    .download__app {
        padding: 18px;
    }
    /* ============== FOOTER ========*/
    .footer__list {
        margin-top: 12px;
        row-gap: 12px;
    }
    .footer__column {
        margin-top: 20px;
    }
    .footer__column:last-child .footer__link {
        margin: 10px 0;
    }
    .footer__bottom {
        margin-top: 24px;
    }
    .footer__input {
        width: min(186px, 100%);
    }
}
